/*Estrutura do Site
-------------------------------------------------------*/
body {
	background: #f4f2ec url(../imagens/fundo.png) repeat-x;
	font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;
}

#container {
	width: 1080px;
	margin: 0 auto;
}

#main_menu a:link,#main_menu a:active,#main_menu a:visited {
	color:  #fff;
	text-decoration: none;
}

#main_menu a:hover {
	color: #227115;
}

/*Logo
----------------------------------------------------*/
#logo h1 {
	float: left;
}

#logo a {
	width: 180px;
	height: 150px;
	text-indent: -9999px;
	display: block;
	background: url(../Imagens/logo.png) no-repeat;
}


/* Barra de navegação
---------------------------------------------------*/
header {
	padding: 15px 0;
	height: 55px;
}

nav ul {
	list-style: none;
	margin: 20px;
	float: right;
}

nav ul li {
	float: left;
}

nav ul li a:link {
	display:  block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
}

nav ul li a:hover {
	border-bottom: 1px solid #535858;
}

/* Principal
------------------------------------ */
#conteudo{
	width: 710px;
	float: left;
	margin: 55px 0 0 -300px;
	margin-bottom: 20px;

}

aside {
     width: 350px;
     float: right;
     background: #ebe7dd;
     margin: 55px 60px 0 0;
     padding-bottom: 30px;
     margin-bottom: 20px;
}

#capa img{
	max-width:710px;
    max-height:475px;
    width: auto;
    height: auto;
}

#depoimento img{
	max-width:475px;
    max-height:475px;
    width: auto;
    height: auto;
}

section#visita {
	background: #cdc8b1;
	padding: 10px 27px 27px 27px;
	margin-top: 10px;
}

section#galeria {
	padding: 0 27px 0 27px;
}

section#galeria a {
	display: block;
	background: url(../Imagens/fundo-foto.png) no-repeat;
	float: left;
	padding: 17px 15px 17px 15px;
	margin: 10px 0 0 20px;
}

section#galeria img{
	margin-left: 2px;
	margin-top: 3px;
}

article#video {
	float: left;
	width: 310px;
	margin-left: 25px;
}

article#mapa {
	float: left;
	width: 310px;
	margin-left: 37px;
}

article#exposicoes {
	float: left;
	width: 310px;
	margin: 15px 0 0 25px;
}

article#biografia {
	float: left;
	width: 310px;
	margin: 15px 0 0 37px;
}

h3{
	color: #227115;
	font-size: 1.0em;
	margin-bottom: 15px;
	text-transform: uppercase;
}	

h4{
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}

/* Rodapé
--------------------------------------------*/
footer{
	clear: both;
	padding: 20px 0 30px 0;
	text-align: center;
	background: url(../Imagens/fundo-rodape.png) no-repeat center top;
	margin-top: 20px;
}

footer>p a {
	padding: 2px 10px;
}

/* Formulários
---------------------------------------------*/

input{
	height: 20px;
	background: #fff;
	border: none;
	font-size: 1em;
}

input.campo{
	border: 1px solid #ada484;	
}

input.botao{
	background: #9b9271;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 1.2em;

}

input.botao:hover{
	background: gray;
	color: #000;
	cursor: pointer;
}

fieldset{
	border: none;

}

legend{
	display: none;
}


#menu_expo a:link,#menu_expo a:active,#menu_expo a:visited {
	color: #000;
	text-decoration: none;
	font-size: 1.3em;
}

#menu_expo a:hover {
	color: #227115;
}